 # Dépendances Node.js : jamais dans Git
 node_modules/

 # Variables d'environnement (mots de passe, clés d'API)
 .env

 # Fichier système
 .DS_Store
 Thumbs.db

 # Réglage locaux de l'éditeur
 .vscode/
 