/* === 1. Reglages generaux ============================ */

/* Color palette:

Text: #c4f0fa;
Accent (link, button, title): #00f7ff (cyan) #ff01aa (pink)
Background color: #151a2e
Card background: #24314e
Border: #9b5cff
*/
*
{
    box-sizing: border-box;
}

body
{
    font-family: Andale Mono, monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #c4f0fa;
    background-color: #151a2e;
    margin: 0;
}

main
{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}

/* === 2. En-tete et navigation ======================== */

.entete
{
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24314e;
    color:#c4f0fa;
    padding: 5px 30px;
    border:2px solid #00f7ff ;
    border-radius: 8px;

}

nav ul 
{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a
{
    color: #ff01aa;
    text-decoration: none;
}

.pied
{
    background-color: #24314e;
    text-align: center;
    padding: 5px 0px;
}

/* === 3. Contenu principal ============================ */

/* === 4. Cartes de sujet ============================== */

.liste-sujets
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
}
.liste-sujets a
{
    color:#ff01aa;
    text-decoration: none;
}

.carte-sujet
{
    background-color: #24314e  ;
    border: 1px solid #00f7ff;
    border-radius: 8px;
    padding: 5px 20px;
}

.carte-sujet a
{
    font-size: 25px;
    color:#ff01aa;
    text-decoration: none;
}

.carte-message
{
    background-color: #24314e  ;
    border: 1px solid #00f7ff;
    border-radius: 8px;
    padding: 5px 20px;
}
/* === 5. Formulaires ================================== */

input, textarea, select, button 
{
    font-family: inherit;
}
label
{
    display: block;
    margin: 5px;
}

textarea
{
    width: 100%;
    padding: 8px;
    border: 1px solid #00f7ff;
    border-radius: 8px;
    background-color: #24314e;
    color: #c4f0fa;
    resize: vertical;
}

input
{
    width: 100%;
    padding: 8px;
    border: 1px solid #00f7ff;
    border-radius: 8px;
    background-color: #24314e;
    color: #c4f0fa;
}

.option
{
    width: auto;
    margin: 20px 0;
}
.option + label
{
    
    display: inline;
}

.bouton
{
    background-color: #00f7ff;
    color:#151a2e;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;
}


/* === 6. Pied de page ================================= */